In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dfmain = pd.read_csv("students_ai_usage_synthetic_1600_DIRTY.csv" , sep=";")

In [3]:
dfmain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          1604 non-null   float64
 1   Gender                        1607 non-null   object
 2   Study__Level                  1608 non-null   object
 3   Major                         1603 non-null   object
 4   Ai_Usage_Frequency            1608 non-null   object
 5   primary_ai_use                1604 non-null   object
 6    Academic_Integrity_Training  1605 non-null   object
 7   Study Hours Week              1600 non-null   object
 8    AI_Hours_Week                1606 non-null   float64
 9    Attendance_Rate              1608 non-null   float64
 10  assignment_completion_rate    1603 non-null   float64
 11   Exam_Score                   1605 non-null   float64
 12  GPA                           1608 non-null   float64
dtypes: float64(6), object(7)
memory usage: 164.2+ KB

In [4]:
dfmain.head()

,Year,Gender,Study__Level,Major,Ai_Usage_Frequency,primary_ai_use,Academic_Integrity_Training,Study Hours Week,AI_Hours_Week,Attendance_Rate,assignment_completion_rate,Exam_Score,GPA
0,2025.0,Female,PhD,Social Sciences,Never,Studying/flashcards,Yes,20.6,2.4,92.7,96.5,99.1,4.00
1,2024.0,Male,Undergraduate,Engineering,Daily,Coding help,Yes,25.8,6.9,87.0,79.5,99.5,3.98
2,2023.0,Female,Undergraduate,Engineering,Weekly,Writing support,Yes,22.7,8.4,94.1,81.9,94.3,3.67
3,2023.0,Male,Undergraduate,Engineering,Weekly,Concept explanation,Yes,2,4.1,83.0,58.2,71.0,3.05
4,2023.0,Female,Master's,Social Sciences,Weekly,Writing support,Yes,13.5,3.0,89.0,75.9,82.6,3.58

In [5]:
dfmain.tail()

,Year,Gender,Study__Level,Major,Ai_Usage_Frequency,primary_ai_use,Academic_Integrity_Training,Study Hours Week,AI_Hours_Week,Attendance_Rate,assignment_completion_rate,Exam_Score,GPA
1610,2023.0,Female,Undergraduate,Arts & Humanities,Never,Coding help,Yes,22.5,0.0,78.1,77.7,79.4,3.64
1611,2024.0,Male,Undergraduate,Business,Weekly,Research/reading,nO,13.3,3.4,85.4,82.8,83.1,3.62
1612,2024.0,Female,Master's,Engineering,Weekly,Research/reading,Yes,20.7,1.7,88.4,91.0,89.4,3.80
1613,2024.0,Female,Undergraduate,Engineering,Daily,Other,No,18.1,7.7,87.6,91.3,94.0,4.00
1614,2025.0,Female,Undergraduate,Education,Daily,Research/reading,Yes,15.8,5.4,85.2,100.0,77.1,3.70

In [6]:
dfmain.columns

Index(['Year', 'Gender', 'Study__Level', 'Major', 'Ai_Usage_Frequency',
       'primary_ai_use', ' Academic_Integrity_Training', 'Study Hours Week',
       ' AI_Hours_Week', ' Attendance_Rate', 'assignment_completion_rate',
       ' Exam_Score', 'GPA'],
      dtype='object')

In [7]:
dfmain.columns=(dfmain.columns.str.strip().str.lower().str.replace(" ","_").str.replace("__","_"))
print(dfmain.columns)
#Cleaned column names. Make all letters lower, deleted empty spaces and replaced "__" with "_".

Index(['year', 'gender', 'study_level', 'major', 'ai_usage_frequency',
       'primary_ai_use', 'academic_integrity_training', 'study_hours_week',
       'ai_hours_week', 'attendance_rate', 'assignment_completion_rate',
       'exam_score', 'gpa'],
      dtype='object')

In [8]:
dfmain.duplicated().any()
#Check for duplicates.

True

In [9]:
dfmain=dfmain.drop_duplicates()
dfmain.duplicated().any()
#Cleared duplicates.

False

In [10]:
num_cols = ["year", "study_hours_week", "ai_hours_week", "attendance_rate", "assignment_completion_rate", "exam_score", "gpa"]
for i in num_cols:
    if dfmain[i].dtype == 'object':
        dfmain[i] = dfmain[i].str.replace(',', '.')
    
    dfmain[i] = pd.to_numeric(dfmain[i])
#replaced "," with "." in numerical columns.

In [11]:
dfmain = dfmain.copy()

# 2. Get the string columns
string_columns = dfmain.select_dtypes(include="object").columns

# 3. Apply the cleaning steps
for col in string_columns:
    dfmain[col] = (
        dfmain[col]
        .str.replace("[^a-zA-Z0-9 / ]", "", regex=True)
        .str.strip()
        .str.lower()
    )

In [12]:
cat_col = ['gender', 'study_level', 'major', 'ai_usage_frequency', 'primary_ai_use']
for col in cat_col:
    print(f"{col}")
    print(dfmain[col].value_counts())
#checked for misspelling

gender
female             824
male               720
nonbinary/other     41
femae                3
fmale                3
nonbinary/oter       1
feale                1
Name: gender, dtype: int64
study_level
undergraduate    1230
masters           280
phd                57
undergrduate        4
undergradute        3
undegraduate        3
unergraduate        3
undergraduae        2
undergradate        2
mastrs              2
udergraduate        2
underraduate        2
undrgraduate        1
undergaduate        1
maters              1
undergrauate        1
Name: study_level, dtype: int64
major
engineering           365
business              288
social sciences       265
computer science      247
health sciences       180
arts  humanities      127
education              93
health  sciences        3
computer  science       3
arts    humanities      2
busines                 2
engineerig              1
computer sience         1
enginering              1
eucation                1
scial sciences          1
engineeing              1
educaton                1
bsiness                 1
social  sciences        1
health scinces          1
engineerng              1
computer cience         1
buiness                 1
arts humanities         1
Name: major, dtype: int64
ai_usage_frequency
weekly    732
daily     598
rarely    170
never      73
wekly      10
daly        4
daiy        3
rrely       1
weeky       1
weely       1
rarly       1
Name: ai_usage_frequency, dtype: int64
primary_ai_use
writing support         360
concept explanation     323
coding help             256
research/reading        242
studying/flashcards     203
translation              92
other                    84
concept  explanation      5
coding  help              5
writin support            3
concpt explanation        2
codinghelp                1
research/reaing           1
conceptexplanation        1
concept xplanation        1
cocept explanation        1
sudying/flashcards        1
reseach/reading           1
research/rading           1
oter                      1
studying/lashcards        1
writing suppot            1
wrting support            1
studying/flashcars        1
concept explanatin        1
othr                      1
Name: primary_ai_use, dtype: int64

In [13]:
#Correcting gender
dfmain['gender'] = dfmain['gender'].replace(['femae', 'fmale', 'feale'], 'female')
dfmain['gender'] = dfmain['gender'].replace(['nonbinary/oter'], 'nonbinary/other')

#Correcting study_level
dfmain['study_level'] = dfmain['study_level'].replace(['undergrduate', 'undergradute', 'undegraduate', 'unergraduate', 'undergraduae', 'undergradate', 'udergraduate', 'underraduate', 'undrgraduate', 'undergaduate', 'undergrauate'], 'undergraduate')
dfmain['study_level'] = dfmain['study_level'].replace(['mastrs', 'maters'], 'masters')

#Correcting major
dfmain['major'] = dfmain['major'].replace(['busines', 'buiness', 'bsiness'], 'business')
dfmain['major'] = dfmain['major'].replace(['engineerig', 'enginering', 'engineeing', 'engineerng'], 'engineering')
dfmain['major'] = dfmain['major'].replace(['computer sience', 'computer cience', 'computer  science'], 'computer science')
dfmain['major'] = dfmain['major'].replace(['eucation', 'educaton'], 'education')
dfmain['major'] = dfmain['major'].replace(['scial sciences', 'social  sciences'], 'social sciences')
dfmain['major'] = dfmain['major'].replace(['health  sciences', 'health scinces'], 'health sciences')
dfmain['major'] = dfmain['major'].replace(['arts    humanities', 'arts  humanities', 'arts humanities'], 'arts humanities')

#Correcting ai_usage_frequency
dfmain['ai_usage_frequency'] = dfmain['ai_usage_frequency'].replace(['wekly', 'weeky', 'weely'], 'weekly')
dfmain['ai_usage_frequency'] = dfmain['ai_usage_frequency'].replace(['daly', 'daiy'], 'daily')
dfmain['ai_usage_frequency'] = dfmain['ai_usage_frequency'].replace(['rrely', 'rarly'], 'rarely')

#Correcting primary_ai_use
dfmain['primary_ai_use'] = dfmain['primary_ai_use'].replace(['writin support', 'writing suppot', 'wrting support'], 'writing support')
dfmain['primary_ai_use'] = dfmain['primary_ai_use'].replace(['concpt explanation', 'conceptexplanation', 'concept xplanation', 'cocept explanation', 'concept explanatin', 'concept  explanation'], 'concept explanation')
dfmain['primary_ai_use'] = dfmain['primary_ai_use'].replace(['codinghelp', 'coding  help'], 'coding help')
dfmain['primary_ai_use'] = dfmain['primary_ai_use'].replace(['research/reaing', 'reseach/reading', 'research/rading'], 'research/reading')
dfmain['primary_ai_use'] = dfmain['primary_ai_use'].replace(['sudying/flashcards', 'studying/lashcards', 'studying/flashcars'], 'studying/flashcards')
dfmain['primary_ai_use'] = dfmain['primary_ai_use'].replace(['oter', 'othr'], 'other')

In [14]:
cat_col = ['gender', 'study_level', 'major', 'ai_usage_frequency', 'primary_ai_use']
for col in cat_col:
    print(f"{col}")
    print(dfmain[col].value_counts())

gender
female             831
male               720
nonbinary/other     42
Name: gender, dtype: int64
study_level
undergraduate    1254
masters           283
phd                57
Name: study_level, dtype: int64
major
engineering         369
business            292
social sciences     267
computer science    252
health sciences     184
arts humanities     130
education            95
Name: major, dtype: int64
ai_usage_frequency
weekly    744
daily     605
rarely    172
never      73
Name: ai_usage_frequency, dtype: int64
primary_ai_use
writing support        365
concept explanation    334
coding help            262
research/reading       245
studying/flashcards    206
translation             92
other                   86
Name: primary_ai_use, dtype: int64

In [15]:
dfmain

,year,gender,study_level,major,ai_usage_frequency,primary_ai_use,academic_integrity_training,study_hours_week,ai_hours_week,attendance_rate,assignment_completion_rate,exam_score,gpa
0,2025.0,female,phd,social sciences,never,studying/flashcards,yes,20.6,2.4,92.7,96.5,99.1,4.00
1,2024.0,male,undergraduate,engineering,daily,coding help,yes,25.8,6.9,87.0,79.5,99.5,3.98
2,2023.0,female,undergraduate,engineering,weekly,writing support,yes,22.7,8.4,94.1,81.9,94.3,3.67
3,2023.0,male,undergraduate,engineering,weekly,concept explanation,yes,2.0,4.1,83.0,58.2,71.0,3.05
4,2023.0,female,masters,social sciences,weekly,writing support,yes,13.5,3.0,89.0,75.9,82.6,3.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,2023.0,nonbinary/other,undergraduate,NaN,weekly,writing support,yes,14.9,6.3,85.9,95.1,75.5,3.37
1597,2025.0,male,phd,computer science,daily,writing support,no,27.9,4.9,93.3,80.6,100.0,4.00
1598,2024.0,female,undergraduate,business,weekly,other,no,18.5,3.6,79.3,92.8,85.7,3.76
1599,2024.0,male,undergraduate,health sciences,daily,concept explanation,no,8.7,6.1,91.8,87.7,82.0,3.81
1612,2024.0,female,masters,engineering,weekly,research/reading,yes,20.7,1.7,88.4,91.0,89.4,3.80

In [16]:
dfmain.dtypes

year                           float64
gender                          object
study_level                     object
major                           object
ai_usage_frequency              object
primary_ai_use                  object
academic_integrity_training     object
study_hours_week               float64
ai_hours_week                  float64
attendance_rate                float64
assignment_completion_rate     float64
exam_score                     float64
gpa                            float64
dtype: object

In [17]:
dfmain.head()

,year,gender,study_level,major,ai_usage_frequency,primary_ai_use,academic_integrity_training,study_hours_week,ai_hours_week,attendance_rate,assignment_completion_rate,exam_score,gpa
0,2025.0,female,phd,social sciences,never,studying/flashcards,yes,20.6,2.4,92.7,96.5,99.1,4.00
1,2024.0,male,undergraduate,engineering,daily,coding help,yes,25.8,6.9,87.0,79.5,99.5,3.98
2,2023.0,female,undergraduate,engineering,weekly,writing support,yes,22.7,8.4,94.1,81.9,94.3,3.67
3,2023.0,male,undergraduate,engineering,weekly,concept explanation,yes,2.0,4.1,83.0,58.2,71.0,3.05
4,2023.0,female,masters,social sciences,weekly,writing support,yes,13.5,3.0,89.0,75.9,82.6,3.58

In [18]:
num_cols = ["year", "study_hours_week", "ai_hours_week", "attendance_rate", "assignment_completion_rate", "exam_score", "gpa"]
for i in num_cols:
    q1 = dfmain[i].quantile(0.25)
    q3 = dfmain[i].quantile(0.75)
    iqr = q3 - q1
    
    lb = q1 - 1.5 * iqr
    ub = q3 + 1.5 * iqr
    
    outliers = dfmain[(dfmain[i] < lb) | (dfmain[i] > ub)]
    print(f"Column: {i} outliners: {len(outliers)}")
#Checked numerical columns for outliners using IQR.

Column: year outliners: 0
Column: study_hours_week outliners: 18
Column: ai_hours_week outliners: 0
Column: attendance_rate outliners: 8
Column: assignment_completion_rate outliners: 7
Column: exam_score outliners: 8
Column: gpa outliners: 11

In [19]:
for i in num_cols:
    q1 = dfmain[i].quantile(0.25)
    q3 = dfmain[i].quantile(0.75)
    iqr = q3 - q1 
    lb = q1 - 1.5 * iqr
    ub = q3 + 1.5 * iqr
    
    col_mean = dfmain[i].mean()
    dfmain.loc[(dfmain[i] < lb) | (dfmain[i] > ub), i] = col_mean
#Replaced outliners with mean in numerical columns.

In [20]:
num_cols = ["year", "study_hours_week", "ai_hours_week", "attendance_rate", "assignment_completion_rate", "exam_score", "gpa"]
for i in num_cols:
    q1 = dfmain[i].quantile(0.25)
    q3 = dfmain[i].quantile(0.75)
    iqr = q3 - q1
    
    lb = q1 - 1.5 * iqr
    ub = q3 + 1.5 * iqr
    
    outliers = dfmain[(dfmain[i] < lb) | (dfmain[i] > ub)]
    print(f"Column: {i:27} outliners: {len(outliers)}")
#Checked again if it code worked. There are some outliners but they are due to changing outliners with mean creating new outliners when running code again.

Column: year                        outliners: 0
Column: study_hours_week            outliners: 1
Column: ai_hours_week               outliners: 0
Column: attendance_rate             outliners: 3
Column: assignment_completion_rate  outliners: 0
Column: exam_score                  outliners: 0
Column: gpa                         outliners: 0

In [21]:
dfmain

,year,gender,study_level,major,ai_usage_frequency,primary_ai_use,academic_integrity_training,study_hours_week,ai_hours_week,attendance_rate,assignment_completion_rate,exam_score,gpa
0,2025.0,female,phd,social sciences,never,studying/flashcards,yes,20.60000,2.4,92.7,96.500000,99.1,4.00
1,2024.0,male,undergraduate,engineering,daily,coding help,yes,25.80000,6.9,87.0,79.500000,99.5,3.98
2,2023.0,female,undergraduate,engineering,weekly,writing support,yes,22.70000,8.4,94.1,81.900000,94.3,3.67
3,2023.0,male,undergraduate,engineering,weekly,concept explanation,yes,18.88884,4.1,83.0,86.006797,71.0,3.05
4,2023.0,female,masters,social sciences,weekly,writing support,yes,13.50000,3.0,89.0,75.900000,82.6,3.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,2023.0,nonbinary/other,undergraduate,NaN,weekly,writing support,yes,14.90000,6.3,85.9,95.100000,75.5,3.37
1597,2025.0,male,phd,computer science,daily,writing support,no,27.90000,4.9,93.3,80.600000,100.0,4.00
1598,2024.0,female,undergraduate,business,weekly,other,no,18.50000,3.6,79.3,92.800000,85.7,3.76
1599,2024.0,male,undergraduate,health sciences,daily,concept explanation,no,8.70000,6.1,91.8,87.700000,82.0,3.81
1612,2024.0,female,masters,engineering,weekly,research/reading,yes,20.70000,1.7,88.4,91.000000,89.4,3.80

In [22]:
dfmain[num_cols] = dfmain[num_cols].round(2)
#Rounded decimel to 0.00 format.

In [23]:
dfmain

,year,gender,study_level,major,ai_usage_frequency,primary_ai_use,academic_integrity_training,study_hours_week,ai_hours_week,attendance_rate,assignment_completion_rate,exam_score,gpa
0,2025.0,female,phd,social sciences,never,studying/flashcards,yes,20.60,2.4,92.7,96.50,99.1,4.00
1,2024.0,male,undergraduate,engineering,daily,coding help,yes,25.80,6.9,87.0,79.50,99.5,3.98
2,2023.0,female,undergraduate,engineering,weekly,writing support,yes,22.70,8.4,94.1,81.90,94.3,3.67
3,2023.0,male,undergraduate,engineering,weekly,concept explanation,yes,18.89,4.1,83.0,86.01,71.0,3.05
4,2023.0,female,masters,social sciences,weekly,writing support,yes,13.50,3.0,89.0,75.90,82.6,3.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,2023.0,nonbinary/other,undergraduate,NaN,weekly,writing support,yes,14.90,6.3,85.9,95.10,75.5,3.37
1597,2025.0,male,phd,computer science,daily,writing support,no,27.90,4.9,93.3,80.60,100.0,4.00
1598,2024.0,female,undergraduate,business,weekly,other,no,18.50,3.6,79.3,92.80,85.7,3.76
1599,2024.0,male,undergraduate,health sciences,daily,concept explanation,no,8.70,6.1,91.8,87.70,82.0,3.81
1612,2024.0,female,masters,engineering,weekly,research/reading,yes,20.70,1.7,88.4,91.00,89.4,3.80

In [24]:
dfmain.isnull().sum()
#Check for missing values.

year                           11
gender                          8
study_level                     7
major                          12
ai_usage_frequency              7
primary_ai_use                 11
academic_integrity_training    10
study_hours_week               15
ai_hours_week                   9
attendance_rate                 7
assignment_completion_rate     12
exam_score                     10
gpa                             7
dtype: int64

In [25]:
for i in dfmain.columns:
    if dfmain[i].dtype == 'object':
        dfmain[i] = dfmain[i].fillna(dfmain[i].mode()[0])
    else:
        dfmain[i] = dfmain[i].fillna(dfmain[i].median())
#Filling missing values. Used median for numerical data and mode for categorical data.

In [26]:
dfmain

,year,gender,study_level,major,ai_usage_frequency,primary_ai_use,academic_integrity_training,study_hours_week,ai_hours_week,attendance_rate,assignment_completion_rate,exam_score,gpa
0,2025.0,female,phd,social sciences,never,studying/flashcards,yes,20.60,2.4,92.7,96.50,99.1,4.00
1,2024.0,male,undergraduate,engineering,daily,coding help,yes,25.80,6.9,87.0,79.50,99.5,3.98
2,2023.0,female,undergraduate,engineering,weekly,writing support,yes,22.70,8.4,94.1,81.90,94.3,3.67
3,2023.0,male,undergraduate,engineering,weekly,concept explanation,yes,18.89,4.1,83.0,86.01,71.0,3.05
4,2023.0,female,masters,social sciences,weekly,writing support,yes,13.50,3.0,89.0,75.90,82.6,3.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,2023.0,nonbinary/other,undergraduate,engineering,weekly,writing support,yes,14.90,6.3,85.9,95.10,75.5,3.37
1597,2025.0,male,phd,computer science,daily,writing support,no,27.90,4.9,93.3,80.60,100.0,4.00
1598,2024.0,female,undergraduate,business,weekly,other,no,18.50,3.6,79.3,92.80,85.7,3.76
1599,2024.0,male,undergraduate,health sciences,daily,concept explanation,no,8.70,6.1,91.8,87.70,82.0,3.81
1612,2024.0,female,masters,engineering,weekly,research/reading,yes,20.70,1.7,88.4,91.00,89.4,3.80

In [27]:
dfmain['year'] = dfmain['year'].astype(int)
#Deleted .0 at end of year values by changing type to integer.

In [28]:
dfmain

,year,gender,study_level,major,ai_usage_frequency,primary_ai_use,academic_integrity_training,study_hours_week,ai_hours_week,attendance_rate,assignment_completion_rate,exam_score,gpa
0,2025,female,phd,social sciences,never,studying/flashcards,yes,20.60,2.4,92.7,96.50,99.1,4.00
1,2024,male,undergraduate,engineering,daily,coding help,yes,25.80,6.9,87.0,79.50,99.5,3.98
2,2023,female,undergraduate,engineering,weekly,writing support,yes,22.70,8.4,94.1,81.90,94.3,3.67
3,2023,male,undergraduate,engineering,weekly,concept explanation,yes,18.89,4.1,83.0,86.01,71.0,3.05
4,2023,female,masters,social sciences,weekly,writing support,yes,13.50,3.0,89.0,75.90,82.6,3.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,2023,nonbinary/other,undergraduate,engineering,weekly,writing support,yes,14.90,6.3,85.9,95.10,75.5,3.37
1597,2025,male,phd,computer science,daily,writing support,no,27.90,4.9,93.3,80.60,100.0,4.00
1598,2024,female,undergraduate,business,weekly,other,no,18.50,3.6,79.3,92.80,85.7,3.76
1599,2024,male,undergraduate,health sciences,daily,concept explanation,no,8.70,6.1,91.8,87.70,82.0,3.81
1612,2024,female,masters,engineering,weekly,research/reading,yes,20.70,1.7,88.4,91.00,89.4,3.80

In [29]:
dfmain.to_csv('Cleaned_ai_usage_112.csv', index=False, sep=';')